
# 1. Analisis Exploratorio

Importar librerías

In [9]:
#Librería
import pandas as pd
import numpy as np


# Visualización
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px


# Nulos
import missingno as msn
import os
import re
import sys

#Exportamos la funcion para realizar la exploración inicial
from funciones_auxiliares_done import leer_archivo

Cargar datos

In [10]:
#Capturar archivo de datos
path = r'C:\Users\xxaby\Desktop\master\TFM'
filehomicide = 'homicide_rate_unodc.csv'
filepercapita = 'gdp_per_capita_penn_world_table.csv'
fileesperanzavida = 'life_expectancy.csv'
funciones_auxiliares = 'funciones_auxiliares_done.py'


#Path
ruta_completahomicide = os.path.join(path, filehomicide)
ruta_completapercapita = os.path.join(path, filepercapita)
ruta_completaesperanzavida = os.path.join(path, fileesperanzavida)


#Cargar el archivo csv
dfhomicide = pd.read_csv(ruta_completahomicide)
#dfhomicide
#dfhomicide.count()


dfpercapita = pd.read_csv(ruta_completapercapita)
#dfpercapita
##dfpercapita.count()


dfesperanzavida = pd.read_csv(ruta_completaesperanzavida)
#dfpercapita
##dfpercapita.count()

## Exploración inicial
Mediante un archivo externo extraemos diferente tipo de información acerca de cada unos de los archivos

In [11]:
#Capturamos todos los archivos .csv de la ubicación 
path = r'C:\Users\xxaby\Desktop\master\TFM'
lista_ficheros_validos = [f for f in os.listdir(path) if f.endswith('.csv')]


diccionario_datos = {}

for file in lista_ficheros_validos:
    ruta_completa = os.path.join(path, file)
    df = leer_archivo(ruta_completa)
    diccionario_datos[file] = df


for file, df in diccionario_datos.items():    
    print(f"Archivo: {file}")
    print('*' *90)
    display(df)
    print('-' *90)
    print(' Estas son las columnas del conjunto de datos:')
    print(df.columns.tolist())
    print('-' *90)
    print(' Estas son los nulos del conjunto de datos:')
    print(df.isnull().sum())

print('#' *90)
print(f"Total archivos cargados: {len(diccionario_datos)}")
print("Archivos:", list(diccionario_datos.keys()))

Archivo: annual_number_of_deaths_by_cause.csv
******************************************************************************************

,Entity,Code,Year,Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number),Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number),Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number),Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number),Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number),Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number),Deaths - Self-harm - Sex: Both - Age: All Ages (Number),Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number),Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number),Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number),Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,1355,29162,104,11214,16649,12974,9278,48,2235,16,5102,37,11161,13,3176,2108,381,2990,2373,2751,1956,4202,632,146
6836,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,1338,27141,110,10998,16937,13024,9065,49,2296,31,5002,37,11465,6,3259,2160,393,3027,2436,2788,1962,4264,648,146
6837,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,1312,24846,115,10762,17187,12961,8901,50,2338,251,4948,37,11744,5,3313,2196,398,2962,2473,2818,2007,4342,654,144
6838,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,1294,22106,121,10545,17460,12860,8697,51,2372,0,4745,37,12038,9,3381,2240,400,2890,2509,2849,2030,4377,657,139
6839,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136

------------------------------------------------------------------------------------------
 Estas son las columnas del conjunto de datos:
['Entity', 'Code', 'Year', 'Deaths - Meningitis - Sex: Both - Age: All Ages (Number)', "Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)", "Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)", 'Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)', 'Deaths - Malaria - Sex: Both - Age: All Ages (Number)', 'Deaths - Drowning - Sex: Both - Age: All Ages (Number)', 'Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)', 'Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)', 'Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)', 'Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)', 'Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)', 'Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)', 'Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)', 'Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)', 'Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)', 'Deaths - Self-harm - Sex: Both - Age: All Ages (Number)', 'Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)', 'Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)', 'Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)', 'Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)', 'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)', 'Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)', 'Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)', 'Deaths - Poisonings - Sex: Both - Age: All Ages (Number)', 'Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)', 'Deaths - Road injuries - Sex: Both - Age: All Ages (Number)', 'Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)', 'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)', 'Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)', 'Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)', 'Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)']
------------------------------------------------------------------------------------------
 Estas son los nulos del conjunto de datos:
Entity                                                                                        0
Code                                                                                        690
Year                                                                                          0
Deaths - Meningitis - Sex: Both - Age: All Ages (Number)                                      0
Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)         0
Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)                             0
Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)                        0
Deaths - Malaria - Sex: Both - Age: All Ages (Number)                                         0
Deaths - Drowning - Sex: Both - Age: All Ages (Number)                                        0
Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)                          0
Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)                              0
Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)                                        0
Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)                              0
Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)                                    0
Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)                         0
Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)                    0
Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)                              0
Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)                           0
Deaths - Self-harm - Sex: Both - Age: All Ages (Number)                                       0
Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)                    0
Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)                              0
Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)            0
Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)                                       0
Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)                          0
Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)                               0
Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)                          0
Deaths - Poisonings - Sex: Both - Age: All Ages (Number)                                      0
Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)                     0
Deaths - Road injuries - Sex: Both - Age: All Ages (Number)                                   0
Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)                    0
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)      0
Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)                              0
Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)                  0
Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)                                 0
dtype: int64
Archivo: death_rate_from_suicides_gho.csv
******************************************************************************************

           Entity Code  Year  Age-standardized suicide rate - Sex: both sexes
0     Afghanistan  AFG  2000                                           7.7100
1     Afghanistan  AFG  2001                                           7.8900
2     Afghanistan  AFG  2002                                           7.8500
3     Afghanistan  AFG  2003                                           7.7200
4     Afghanistan  AFG  2004                                           7.7700
...           ...  ...   ...                                              ...
3875     Zimbabwe  ZWE  2015                                          30.7352
3876     Zimbabwe  ZWE  2016                                          28.6973
3877     Zimbabwe  ZWE  2017                                          25.8514
3878     Zimbabwe  ZWE  2018                                          23.8676
3879     Zimbabwe  ZWE  2019                                          23.6286

[3880 rows x 4 columns]

------------------------------------------------------------------------------------------
 Estas son las columnas del conjunto de datos:
['Entity', 'Code', 'Year', 'Age-standardized suicide rate - Sex: both sexes']
------------------------------------------------------------------------------------------
 Estas son los nulos del conjunto de datos:
Entity                                               0
Code                                               200
Year                                                 0
Age-standardized suicide rate - Sex: both sexes      0
dtype: int64
Archivo: gdp_per_capita_penn_world_table.csv
******************************************************************************************

         Entity Code  Year  GDP per capita (output, multiple price benchmarks)
0       Albania  ALB  1971                                           3159.8088
1       Albania  ALB  1972                                           3214.6665
2       Albania  ALB  1973                                           3267.8481
3       Albania  ALB  1974                                           3330.0708
4       Albania  ALB  1975                                           3385.2730
...         ...  ...   ...                                                 ...
10103  Zimbabwe  ZWE  2015                                           2880.9058
10104  Zimbabwe  ZWE  2016                                           2919.6170
10105  Zimbabwe  ZWE  2017                                           3112.8750
10106  Zimbabwe  ZWE  2018                                           3007.2370
10107  Zimbabwe  ZWE  2019                                           2787.6590

[10108 rows x 4 columns]

------------------------------------------------------------------------------------------
 Estas son las columnas del conjunto de datos:
['Entity', 'Code', 'Year', 'GDP per capita (output, multiple price benchmarks)']
------------------------------------------------------------------------------------------
 Estas son los nulos del conjunto de datos:
Entity                                                0
Code                                                  0
Year                                                  0
GDP per capita (output, multiple price benchmarks)    0
dtype: int64
Archivo: global_vaccination_coverage.csv
******************************************************************************************

           Entity Code  Year  BCG (% of one-year-olds immunized)  HepB3 (% of one-year-olds immunized)  Hib3 (% of one-year-olds immunized)  IPV1 (% of one-year-olds immunized)  MCV1 (% of one-year-olds immunized)  PCV3 (% of one-year-olds immunized)  Pol3 (% of one-year-olds immunized)  RCV1 (% of one-year-olds immunized)  RotaC (% of one-year-olds immunized)  YFV (% of one-year-olds immunized)  DTP3 (% of one-year-olds immunized)
0     Afghanistan  AFG  1982                                10.0                                   NaN                                  NaN                                  NaN                                  8.0                                  NaN                                  5.0                                  NaN                                   NaN                                 NaN                                  5.0
1     Afghanistan  AFG  1983                                10.0                                   NaN                                  NaN                                  NaN                                  9.0                                  NaN                                  5.0                                  NaN                                   NaN                                 NaN                                  5.0
2     Afghanistan  AFG  1984                                11.0                                   NaN                                  NaN                                  NaN                                 14.0                                  NaN                                 16.0                                  NaN                                   NaN                                 NaN                                 16.0
3     Afghanistan  AFG  1985                                17.0                                   NaN                                  NaN                                  NaN                                 14.0                                  NaN                                 15.0                                  NaN                                   NaN                                 NaN                                 15.0
4     Afghanistan  AFG  1986                                18.0                                   NaN                                  NaN                                  NaN                                 14.0                                  NaN                                 11.0                                  NaN                                   NaN                                 NaN                                 11.0
...           ...  ...   ...                                 ...                                   ...                                  ...                                  ...                                  ...                                  ...                                  ...                                  ...                                   ...                                 ...                                  ...
7892     Zimbabwe  ZWE  2017                                95.0                                  89.0                                 89.0                                  NaN                                 90.0                                 89.0                                 89.0                                 90.0                                  91.0                                 NaN                                 89.0
7893     Zimbabwe  ZWE  2018                                95.0                                  89.0                                 89.0                                  NaN                                 88.0                                 89.0                                 89.0                                 88.0                                  90.0                                 NaN                                 89.0
7894     Zimbabwe  ZWE  2019                                95.0                                  90.0                                 90.0                                 65.0                                 85.0                                 90.0                                 90.0                                 85.0                                  92.0                                 NaN                                 90.0
7895     Zimbabwe  ZWE  2020                                88.0                                  86.0                                 86.0                                 86.0                                 85.0                                 86.0                                 86.0                                 85.0                                  88.0                                 NaN                                 86.0
7896     Zimbabwe  ZWE  2021                                88.0                                  86.0                                 86.0                                 86.0                                 85.0                                 86.0                                 86.0                                 85.0                                  88.0                                 NaN                                 86.0

[7897 rows x 14 columns]

------------------------------------------------------------------------------------------
 Estas son las columnas del conjunto de datos:
['Entity', 'Code', 'Year', 'BCG (% of one-year-olds immunized)', 'HepB3 (% of one-year-olds immunized)', 'Hib3 (% of one-year-olds immunized)', 'IPV1 (% of one-year-olds immunized)', 'MCV1 (% of one-year-olds immunized)', 'PCV3 (% of one-year-olds immunized)', 'Pol3 (% of one-year-olds immunized)', 'RCV1 (% of one-year-olds immunized)', 'RotaC (% of one-year-olds immunized)', 'YFV (% of one-year-olds immunized)', 'DTP3 (% of one-year-olds immunized)']
------------------------------------------------------------------------------------------
 Estas son los nulos del conjunto de datos:
Entity                                     0
Code                                     252
Year                                       0
BCG (% of one-year-olds immunized)      1400
HepB3 (% of one-year-olds immunized)    3461
Hib3 (% of one-year-olds immunized)     4268
IPV1 (% of one-year-olds immunized)     6600
MCV1 (% of one-year-olds immunized)      169
PCV3 (% of one-year-olds immunized)     6400
Pol3 (% of one-year-olds immunized)       42
RCV1 (% of one-year-olds immunized)     3699
RotaC (% of one-year-olds immunized)    6858
YFV (% of one-year-olds immunized)      7073
DTP3 (% of one-year-olds immunized)       43
dtype: int64
Archivo: homicide_rate_unodc.csv
******************************************************************************************

           Entity Code  Year  Homicide rate per 100,000 population - Both sexes - All ages
0     Afghanistan  AFG  2009                                                      4.071527
1     Afghanistan  AFG  2010                                                      3.487093
2     Afghanistan  AFG  2011                                                      4.208668
3     Afghanistan  AFG  2012                                                      6.393913
4     Afghanistan  AFG  2015                                                      9.975262
...           ...  ...   ...                                                           ...
4199     Zimbabwe  ZWE  2012                                                      7.395217
4200     Zimbabwe  ZWE  2018                                                      4.876369
4201     Zimbabwe  ZWE  2019                                                      5.145035
4202     Zimbabwe  ZWE  2020                                                      4.977770
4203     Zimbabwe  ZWE  2021                                                      6.139985

[4204 rows x 4 columns]

------------------------------------------------------------------------------------------
 Estas son las columnas del conjunto de datos:
['Entity', 'Code', 'Year', 'Homicide rate per 100,000 population - Both sexes - All ages']
------------------------------------------------------------------------------------------
 Estas son los nulos del conjunto de datos:
Entity                                                            0
Code                                                            176
Year                                                              0
Homicide rate per 100,000 population - Both sexes - All ages      0
dtype: int64
Archivo: life_expectancy.csv
******************************************************************************************

            Entity Code  Year  Period life expectancy at birth - Sex: all - Age: 0
0      Afghanistan  AFG  1950                                              27.7275
1      Afghanistan  AFG  1951                                              27.9634
2      Afghanistan  AFG  1952                                              28.4456
3      Afghanistan  AFG  1953                                              28.9304
4      Afghanistan  AFG  1954                                              29.2258
...            ...  ...   ...                                                  ...
20750     Zimbabwe  ZWE  2017                                              60.7095
20751     Zimbabwe  ZWE  2018                                              61.4141
20752     Zimbabwe  ZWE  2019                                              61.2925
20753     Zimbabwe  ZWE  2020                                              61.1242
20754     Zimbabwe  ZWE  2021                                              59.2531

[20755 rows x 4 columns]

------------------------------------------------------------------------------------------
 Estas son las columnas del conjunto de datos:
['Entity', 'Code', 'Year', 'Period life expectancy at birth - Sex: all - Age: 0']
------------------------------------------------------------------------------------------
 Estas son los nulos del conjunto de datos:
Entity                                                    0
Code                                                   1694
Year                                                      0
Period life expectancy at birth - Sex: all - Age: 0       0
dtype: int64
Archivo: poverty_explorer.csv
******************************************************************************************

,Country,Year,Share below $1 a day,Share below $2.15 a day,Share below $3.65 a day,Share below $6.85 a day,Share below $10 a day,Share below $20 a day,Share below $30 a day,Share below $40 a day,Number below $1 a day,Number below $2.15 a day,Number below $3.65 a day,Number below $6.85 a day,Number below $10 a day,Number below $20 a day,Number below $30 a day,Number below $40 a day,40% of median - share of population below poverty line,50% of median - share of population below poverty line,60% of median - share of population below poverty line,40% of median - total number of people below poverty line,50% of median - total number of people below poverty line,60% of median - total number of people below poverty line,Mean income or consumption per day,Median income or consumption per day,Threshold income or consumption per day marking the poorest decile,Threshold income or consumption per day marking the richest decile,mld,gini,polarization,decile1_share,decile2_share,decile3_share,decile4_share,decile5_share,decile6_share,decile7_share,decile8_share,decile9_share,decile10_share,decile2_thr,decile3_thr,decile4_thr,decile5_thr,decile6_thr,decile7_thr,decile8_thr,income_gap_ratio_40_median,income_gap_ratio_50_median,...,total_shortfall_60_median,income_gap_ratio_100,income_gap_ratio_1000,income_gap_ratio_2000,income_gap_ratio_215,income_gap_ratio_3000,income_gap_ratio_365,income_gap_ratio_4000,income_gap_ratio_685,poverty_gap_index_100,poverty_gap_index_1000,poverty_gap_index_2000,poverty_gap_index_215,poverty_gap_index_3000,poverty_gap_index_365,poverty_gap_index_4000,poverty_gap_index_685,avg_shortfall_100,avg_shortfall_1000,avg_shortfall_2000,avg_shortfall_215,avg_shortfall_3000,avg_shortfall_365,avg_shortfall_4000,avg_shortfall_685,total_shortfall_100,total_shortfall_1000,total_shortfall_2000,total_shortfall_215,total_shortfall_3000,total_shortfall_365,total_shortfall_4000,total_shortfall_685,decile1_avg,decile2_avg,decile3_avg,decile4_avg,decile5_avg,decile6_avg,decile7_avg,decile8_avg,decile9_avg,decile10_avg,bottom50_share,middle40_share,palma_ratio,s80_s20_ratio,p90_p10_ratio,p90_p50_ratio,p50_p10_ratio
0,Albania,1996,0.057416,0.534846,8.898443,47.879143,75.623880,98.702095,99.89742,99.951650,1819,16944,281906,1516827,2395790,3126915,3164783,3166501,2.768821,7.548123,14.802514,87717,239127,468949,7.933157,6.972103,3.691232,13.164797,0.119104,0.270103,0.241293,3.863286,5.289347,6.378684,7.322042,8.379662,9.354903,10.823087,12.473869,14.899548,21.215572,4.687306,5.399629,6.228325,6.971433,8.039671,9.178580,10.682603,14.954244,17.344930,...,386328.72,3.924362,38.960340,61.430424,18.363249,73.689160,18.084910,80.226380,28.927036,0.002253,29.463327,60.633118,0.098215,73.61356,1.609277,80.187584,13.850017,0.039244,3.896034,12.286085,0.394810,22.106749,0.660099,32.090553,1.981502,7.138416e+01,9334079.0,38417544.0,6.689658e+03,69963064.0,186085.92,101614760.0,3005595.8,3.064805,4.196122,5.060310,5.808691,6.647718,7.421392,8.586125,9.895717,11.820045,16.830648,31.233019,47.551407,0.928335,3.945872,3.566505,1.888392,1.888647
1,Albania,2002,0.046371,1.092647,11.388324,52.090965,76.705050,96.528860,98.94813,99.762024,1415,33337,347459,1589301,2340279,2945105,3018917,3043749,3.212283,8.406373,16.020554,98007,256479,488789,8.108229,6.688141,3.501889,13.990763,0.164812,0.317390,0.268982,3.494002,4.859444,5.842059,6.738204,7.653102,8.839459,10.228584,11.984428,14.925079,25.435638,4.370816,5.093828,5.858262,6.687111,7.662466,8.913951,10.652152,17.543550,18.595226,...,403681.56,43.873215,41.387882,63.137640,17.337124,74.095920,19.966413,80.054500,31.078033,0.020348,31.746600,60.946040,0.189435,73.31651,2.273840,79.863976,16.188852,0.438732,4.138788,12.627528,0.372748,22.228775,0.728774,32.021797,2.128845,6.208060e+02,9685919.0,37189396.0,1.242631e+04,67106824.0,253219.12,97466320.0,3383376.0,2.833017,3.940148,4.736875,5.463489,6.205310,7.167236,8.293570,9.717249,12.101596,20.623796,28.586811,45.977550,1.215056,4.831625,3.995204,2.092198,1.909572
2,Albania,2005,0.000000,0.591086,7.289305,40.428430,68.453090,95.405670,98.85736,99.546940,0,17800,219516,1217497,2061456,2873129,2977077,2997843,4.095002,8.991532,16.675770,123320,270779,502189,9.165975,7.799791,3.983527,15.433521,0.154413,0.305957,0.254529,3.482536,4.920109,5.977283,6.921183,7.988159,9.037068,10.372144,12.126408,14.833943,24.341167,5.039332,5.949700,6.793219,7.796200,8.827788,10.280450,12.068591,16.876627,20.329166,...,516420.56,NaN,37.084915,58.724280,15.179814,70.715890,19.209354,77.618020,28.443775,0.000000,25.385770,56.026287,0.089723,69.90787,1.400225,77.266360,11.499372,NaN,3.708491,11.744856,0.326366,21.214766,0.701141,31.047207,1.948399,0.000000e+00,7644891.5,33744490.0,5.809315e+03,63157990.0,153911.77,93074660.0,2372169.5,3.192084,4.509759,5.478762,6.343938,7.321926,8.283354,9.507081,11.115035,13.596755,22.311052,29.289268,46.369564,1.142718,4.662236,3.874336,1.979621,1.957110
3,Albania,2008,0.000000,0.199925,3.902613,33.431850,62.768870,94.582830,98.50923,99.344450,0,5892,115022,985342,1849996,2787653,2903376,2927993,2.118535,7.227715,14.137155,62440,213023,416666,10.038169,8.400200,4.598464,16.435902,0.148893,0.299847,0.247311,3.733625,5.136781,6.088472,6.983584,7.912078,8.924132,10.298735,11.929075,14.535205,24.458311,5.667837,6.554397,7.485383,8.395616,9.562263,11.150203,12.968081,15.433302,16.522570,...,403948.53,NaN,33.673496,55.581460,19.829390,68.462800,13.493116,75.832950,24.404856,0.000000,21.136477,52.570515,0.039641,67.44217,0.526583,75.335830,8.158998,NaN,3.367350,11.116292,0.426332,20.538840,0.492499,30.333180,1.671733,0.000000e+00,6229583.0,30988364.0,2.511948e+03,59631972.0,56648.19,88815336.0,1647228.4,3.747876,5.156388,6.111711,7.010240,7.942278,8.958195,10.338044,11.974607,14.590684,24.551666,29.854542,45.687150,1.114657,4.395911,3.574216,1.957677,1.825743
4,Albania,2012,0.024101,0.620691,4.805442,36.667750,65.062386,95.520160,99.07353,99.742485,699,18003,139377,1063512,1887070,2770468,2873530,2892932,3.510522,7.753112,14.795234,101819,224871,429121,9.517231,8.240385,4.410012,16.009024,0.138417,0.289605,0.249988,3.659527,5.193095,6.143644,7.030725,8.083832,9.256943,10.515455,12.293301,14.889137,22.934340,5.427883,6.244149,7.160211,8.240385,9.336886,10.757146,12.696908,19.908410,20.938734,...,460329.44,16.883530,34.893830,56.502230,21.087643,69.222440,21.463728,76.506630,25.827150,0.004069,22.702759,53.971027,0.130893,68.58113,1.031426,76.309616,9.470237,0.168835,3.489383,11.300446,0.453384,20.766733,0.783426,30.602654,1.769160,1.180159e+02,6584710.0,31307524.0,8.162278e+03,59673830.0,109191.58,88531390.0,1881522.8,3.482856,4.942388,5.847048,6.691304,7.693570,8.810046,10.007802,11.699819,14.170336,21.827140,30.110823,46.954838,1.041193,4.272574,3.630154,1.942752,1.868563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2597,Zambia,2010,30.247530,64.401900,80.831720,92.508110,96.168530,99.148600,99.77003,99.913720,4171765,8882366,11148380,12758799,13263646,13674660,13760368,13780186,12.615243,19.586287,26.600600,1739905,2701357,3668778,2.679826,1.537594,0.559508,5.662489,0.469205,0.520347,0.506976,1.576070,2.497485,3.303468,4.156247,5.181136,6.387320,8.223334,11.181705,16.458324,41.034912,0.776747,0.995462,1.245412,1.537550,1.921156,2.539248,3.537601,26.261284,29.739298,...,1099742.20,33.827717,78.844220,87.704820,48.815765,91.368020,60.376484,93.412360,72.604210,10.232048,75.823330,86.958100,31.438282,91.15790,48.803350,93.331760,67.164790,0.338277,7.884423,17.540964,1.049539,27.410406,2.203742,37.364944,4.973388,1.411213e+06,104576190.0,239866720.0,9.322389e+06,377177280.0,24568150.00,514895870.0,63454460.0,0.422359,0.669283,0.885272,1.113802,1.388454,1.711691,2.203711,2.996503,4.410545,10.996644,16.714405,42.250683,3.557960,14.113775,10.120482,3.682800,2.748041
2598,Zambia,2015,32.625584,60.793095,78.000960,91.015350,95.331520,98.915600,99.54561,99.777664,5301080,9877802,12673776,14788384,15489685,16072035,16174400,16212104,17.311310,24.430954,31.159517,2812781,3969598,5062870,2.974416,1.608135,0.481885,6.340823,0.573705,0.559366,0.583935,1.095506,1.980309,2.744343,3.585803,4.745077,6.173933,8.224388,11.162382,16.834280,43.453980,0.699024,0.936683,1.224572,1.608135,2.096319,2.830682,3.988742,33.609627,36.210403,...,1878204.60,39.163370,77.923294,86.891860,52.458780,90.807820,61.186905,92.922620,71.948290,12.777278,74.285470,85.949615,31.891315,90.39520,47.726376,92.716020,65.483986,0.391634,7.792330,17.378372,1.127864,27.242346,2.233322,37.169050,4.928458,2.076082e+06,120700740.0,279305820.0,1.114082e+07,440628600.0,28304624.00,602588500.0,72883920.0,0.325849,0.589026,0.816282,1.066567,1.411383,1.836384,2.446275,3.320157,5.007214,12.925020,14.151038,42.394980,4.619834,19.600744,13.158383,3.942967,3.337178
2599,Zimbabwe,2011,0.351729,21.580063,47.857143,77.945114,88.905320,97.352370,98.95621,99.509186,45815,2810973,6233769,10152963,11580615,12680910,12889822,12961853,8.894941,16.705880,24.158878,1158636,2176072,3146884,5.459878,3.798868,1.588000,10.548965,0.311153,0.431536,0.388356,2.476378,3.348104,4.257510,5.240055,6.345925,7.656279,9.322751,11.688535,15.834337,33.830128,2.071420,2.584207,3.148770,3.798868,4.592578,5.646643,7.254873,15.645701,22.009342,...,1853635.10,5.803153,60.627850,76.211784,24.271366,83.102190,36.841347,86.920906,51.239730,0.020411,53.901380,74.193970,5.237777,82.23477,17.631216,86.494286,39.938866,0.058032,6.062785,15.242356,0.521834,24.930656,1.344709,34.768360,3.509922,2.658715e+03,70210776.0,193286940.0,1.466862e+06,321351740.0,8382606.00,450662370.0,35636104.0,1.352072,1.828024,2.324548,2.861006,3.464798,4.180234,5.090108,6.381797,8.645355,18.470837,21.667973,44.501904,2.207938,8.526847,6.642927,2.776870,2.392235
2600,Zimbabwe,2017,2.398895,34.206043,61.583572,84.109024,92.461220,98.468330,99.41265,99.762436,353863,5045768,9084255,12407007,13639047,14525163,14664460,14716057,5.165873,12.817295,21.430004,762023,1890692,3161161,4.409205,2.874558,1.344131,8.813227,0.322848,0.443371,0.416694,2.537848,3.426494,4.161038,4.960166,5.955153,7.215983,8.979336,11.652298,16.303904,34.807780,1.672741,1.998625,2.387665,2.874430,3.508780,4.468788,5.960191,13.406225,18.119946,...,1203125.80,10.575388,66.415580,80.149086,27.429125,86.144936,42.049515,89.336270,58.033684,0.253692,61.408650,78.921470,9.382419,85.63896,25.895592,89.124040,48.811565,0.105754,6.641558,16.029818,0.589726,25.843481,1.534807,35.734512,3.975307,3.742239e+04,90584520.0,232835710.0,2.975622e+06,378980700.0,13942581.00,525871100.0,49321664.0,1.118989,1.510812,1.834687,2.187039,2.625749,3.181675,3.959173,5.137737,7.188726,15.347464,21.040699,44.151520,2.307360,8.569543,6.556821,3.066078,2.138504
2601,Zimbabwe,2019,7.359053,39.754530,64.509860,85.016320,91.423780,97.476456,98.79906,99.511925,1129954,6104153,9905236,13053922,14037763,14967128,15170208,15279665,8.944666,16.837408,24.605364,1373418,2585318,3778057,4.500192,2.654817,1.098945,9.024824,0.427862,0.502564,0.463899,1.930185,2.831500,3.571343,4.363650,5.342634,6.591888,8.280308,10.867645,15.595296,40.625550,1.434020,1.767992,2.162820,2.652481,3.308733,4.194235,5.714849,20.747408,24.116623,...,1659154.40,20.102318,69.369410,81.440690,33.946400,86.736030,46.369970,89.496290,60.907574,1.479341,63.420135,79.385500,13.495234,85.69438,29.913202,89.059480,51.781376,0.201023,6.936941,16.288137,0.729848,26.020810,1.692504,35.798515,4.172169,2.271470e+05,97379130.0,243786660.0,4.455102e+06,394741100.0,16764651.00,546989400.0,54463164.0,0.868620,1.274229,1.607173,1.963726,2.404288,2.966476,3.726297,4.890649,7.018182,18.282276,18.039312,41.335136,3.199699,11.806920,8.212260,3.402409,2.413660

------------------------------------------------------------------------------------------
 Estas son las columnas del conjunto de datos:
['Country', 'Year', 'Share below $1 a day', 'Share below $2.15 a day', 'Share below $3.65 a day', 'Share below $6.85 a day', 'Share below $10 a day', 'Share below $20 a day', 'Share below $30 a day', 'Share below $40 a day', 'Number below $1 a day', 'Number below $2.15 a day', 'Number below $3.65 a day', 'Number below $6.85 a day', 'Number below $10 a day', 'Number below $20 a day', 'Number below $30 a day', 'Number below $40 a day', '40% of median - share of population below poverty line', '50% of median - share of population below poverty line', '60% of median - share of population below poverty line', '40% of median - total number of people below poverty line', '50% of median - total number of people below poverty line', '60% of median - total number of people below poverty line', 'Mean income or consumption per day', 'Median income or consumption per day', 'Threshold income or consumption per day marking the poorest decile', 'Threshold income or consumption per day marking the richest decile', 'mld', 'gini', 'polarization', 'decile1_share', 'decile2_share', 'decile3_share', 'decile4_share', 'decile5_share', 'decile6_share', 'decile7_share', 'decile8_share', 'decile9_share', 'decile10_share', 'decile2_thr', 'decile3_thr', 'decile4_thr', 'decile5_thr', 'decile6_thr', 'decile7_thr', 'decile8_thr', 'income_gap_ratio_40_median', 'income_gap_ratio_50_median', 'income_gap_ratio_60_median', 'poverty_gap_index_40_median', 'poverty_gap_index_50_median', 'poverty_gap_index_60_median', 'avg_shortfall_40_median', 'avg_shortfall_50_median', 'avg_shortfall_60_median', 'total_shortfall_40_median', 'total_shortfall_50_median', 'total_shortfall_60_median', 'income_gap_ratio_100', 'income_gap_ratio_1000', 'income_gap_ratio_2000', 'income_gap_ratio_215', 'income_gap_ratio_3000', 'income_gap_ratio_365', 'income_gap_ratio_4000', 'income_gap_ratio_685', 'poverty_gap_index_100', 'poverty_gap_index_1000', 'poverty_gap_index_2000', 'poverty_gap_index_215', 'poverty_gap_index_3000', 'poverty_gap_index_365', 'poverty_gap_index_4000', 'poverty_gap_index_685', 'avg_shortfall_100', 'avg_shortfall_1000', 'avg_shortfall_2000', 'avg_shortfall_215', 'avg_shortfall_3000', 'avg_shortfall_365', 'avg_shortfall_4000', 'avg_shortfall_685', 'total_shortfall_100', 'total_shortfall_1000', 'total_shortfall_2000', 'total_shortfall_215', 'total_shortfall_3000', 'total_shortfall_365', 'total_shortfall_4000', 'total_shortfall_685', 'decile1_avg', 'decile2_avg', 'decile3_avg', 'decile4_avg', 'decile5_avg', 'decile6_avg', 'decile7_avg', 'decile8_avg', 'decile9_avg', 'decile10_avg', 'bottom50_share', 'middle40_share', 'palma_ratio', 's80_s20_ratio', 'p90_p10_ratio', 'p90_p50_ratio', 'p50_p10_ratio']
------------------------------------------------------------------------------------------
 Estas son los nulos del conjunto de datos:
Country                      0
Year                         0
Share below $1 a day         0
Share below $2.15 a day      0
Share below $3.65 a day      0
                          ...
palma_ratio                298
s80_s20_ratio              298
p90_p10_ratio                6
p90_p50_ratio                5
p50_p10_ratio                6
Length: 109, dtype: int64
Archivo: public_healthcare_spending_share_gdp.csv
******************************************************************************************

           Entity Code  Year  Domestic general government health expenditure (% of GDP)
0     Afghanistan  AFG  2002                                                   0.084181
1     Afghanistan  AFG  2003                                                   0.650963
2     Afghanistan  AFG  2004                                                   0.542926
3     Afghanistan  AFG  2005                                                   0.529184
4     Afghanistan  AFG  2006                                                   0.497840
...           ...  ...   ...                                                        ...
4009     Zimbabwe  ZWE  2015                                                   1.551368
4010     Zimbabwe  ZWE  2016                                                   1.788909
4011     Zimbabwe  ZWE  2017                                                   1.794181
4012     Zimbabwe  ZWE  2018                                                   2.782935
4013     Zimbabwe  ZWE  2019                                                   1.358270

[4014 rows x 4 columns]

------------------------------------------------------------------------------------------
 Estas son las columnas del conjunto de datos:
['Entity', 'Code', 'Year', 'Domestic general government health expenditure (% of GDP)']
------------------------------------------------------------------------------------------
 Estas son los nulos del conjunto de datos:
Entity                                                         0
Code                                                         260
Year                                                           0
Domestic general government health expenditure (% of GDP)      0
dtype: int64
##########################################################################################
Total archivos cargados: 8
Archivos: ['annual_number_of_deaths_by_cause.csv', 'death_rate_from_suicides_gho.csv', 'gdp_per_capita_penn_world_table.csv', 'global_vaccination_coverage.csv', 'homicide_rate_unodc.csv', 'life_expectancy.csv', 'poverty_explorer.csv', 'public_healthcare_spending_share_gdp.csv']

## EDA
Realiza un análisis exploratorio de los datos que te permita ganar conocimiento sobre el conjunto de datos antes de resolver a las preguntas

In [12]:

# Lista de DataFrames y nombres
dfs = [dfesperanzavida, dfpercapita, dfhomicide]
nombres = ['Esperanza de Vida', 'PBI per cápita', 'Tasa de Homicidios']

# Configuración para mostrar más contenido en consola
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)

# Análisis de cada DataFrame
for df, nombre in zip(dfs, nombres):
    print(f"\n{'='*60}")
    print(f"Análisis del DataFrame: {nombre}")
    print(f"{'='*60}\n")

    print("Información general:")
    df.info()

    print("\nPrimeras filas:")
    print(df.head(5).to_string())

    print("\nValores únicos por columna:")
    print(df.nunique().to_string())

    print("\nEstadísticas descriptivas:")
    print(df.describe(include='all').to_string())

    print("\nValores nulos por columna:")
    print(df.isnull().sum().to_string())

    print("\nNúmero de filas duplicadas:")
    print(df.duplicated().sum())

============================================================
Análisis del DataFrame: Esperanza de Vida
============================================================

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20755 entries, 0 to 20754
Data columns (total 4 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Entity                                               20755 non-null  object
 1   Code                                                 19061 non-null  object
 2   Year                                                 20755 non-null  int64
 3   Period life expectancy at birth - Sex: all - Age: 0  20755 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 648.7+ KB

Primeras filas:
        Entity Code  Year  Period life expectancy at birth - Sex: all - Age: 0
0  Afghanistan  AFG  1950                                              27.7275
1  Afghanistan  AFG  1951                                              27.9634
2  Afghanistan  AFG  1952                                              28.4456
3  Afghanistan  AFG  1953                                              28.9304
4  Afghanistan  AFG  1954                                              29.2258

Valores únicos por columna:
Entity                                                   261
Code                                                     238
Year                                                     313
Period life expectancy at birth - Sex: all - Age: 0    19676

Estadísticas descriptivas:
        Entity   Code          Year  Period life expectancy at birth - Sex: all - Age: 0
count    20755  19061  20755.000000                                         20755.000000
unique     261    238           NaN                                                  NaN
top     Sweden    SWE           NaN                                                  NaN
freq       271    271           NaN                                                  NaN
mean       NaN    NaN   1975.730234                                            61.617992
std        NaN    NaN     38.423230                                            12.917682
min        NaN    NaN   1543.000000                                            11.995100
25%        NaN    NaN   1961.000000                                            52.185850
50%        NaN    NaN   1981.000000                                            64.060000
75%        NaN    NaN   2001.000000                                            71.822250
max        NaN    NaN   2021.000000                                            86.542400

Valores nulos por columna:
Entity                                                    0
Code                                                   1694
Year                                                      0
Period life expectancy at birth - Sex: all - Age: 0       0

Número de filas duplicadas:
0

============================================================
Análisis del DataFrame: PBI per cápita
============================================================

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10108 entries, 0 to 10107
Data columns (total 4 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Entity                                              10108 non-null  object
 1   Code                                                10108 non-null  object
 2   Year                                                10108 non-null  int64
 3   GDP per capita (output, multiple price benchmarks)  10108 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 316.0+ KB

Primeras filas:
    Entity Code  Year  GDP per capita (output, multiple price benchmarks)
0  Albania  ALB  1971                                           3159.8088
1  Albania  ALB  1972                                           3214.6665
2  Albania  ALB  1973                                           3267.8481
3  Albania  ALB  1974                                           3330.0708
4  Albania  ALB  1975                                           3385.2730

Valores únicos por columna:
Entity                                                  182
Code                                                    182
Year                                                     70
GDP per capita (output, multiple price benchmarks)    10108

Estadísticas descriptivas:
          Entity   Code          Year  GDP per capita (output, multiple price benchmarks)
count      10108  10108  10108.000000                                        10108.000000
unique       182    182           NaN                                                 NaN
top     Ethiopia    ETH           NaN                                                 NaN
freq          70     70           NaN                                                 NaN
mean         NaN    NaN   1989.576078                                        13121.751931
std          NaN    NaN     18.564530                                        17131.658623
min          NaN    NaN   1950.000000                                          246.741710
25%          NaN    NaN   1975.000000                                         2617.814225
50%          NaN    NaN   1991.000000                                         6723.897300
75%          NaN    NaN   2005.000000                                        16650.070000
max          NaN    NaN   2019.000000                                       169200.270000

Valores nulos por columna:
Entity                                                0
Code                                                  0
Year                                                  0
GDP per capita (output, multiple price benchmarks)    0

Número de filas duplicadas:
0

============================================================
Análisis del DataFrame: Tasa de Homicidios
============================================================

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4204 entries, 0 to 4203
Data columns (total 4 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Entity                                                        4204 non-null   object
 1   Code                                                          4028 non-null   object
 2   Year                                                          4204 non-null   int64
 3   Homicide rate per 100,000 population - Both sexes - All ages  4204 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 131.5+ KB

Primeras filas:
        Entity Code  Year  Homicide rate per 100,000 population - Both sexes - All ages
0  Afghanistan  AFG  2009                                                      4.071527
1  Afghanistan  AFG  2010                                                      3.487093
2  Afghanistan  AFG  2011                                                      4.208668
3  Afghanistan  AFG  2012                                                      6.393913
4  Afghanistan  AFG  2015                                                      9.975262

Valores únicos por columna:
Entity                                                           209
Code                                                             201
Year                                                              32
Homicide rate per 100,000 population - Both sexes - All ages    4064

Estadísticas descriptivas:
        Entity  Code         Year  Homicide rate per 100,000 population - Both sexes - All ages
count     4204  4028  4204.000000                                                   4204.000000
unique     209   201          NaN                                                           NaN
top     Mexico   BGR          NaN                                                           NaN
freq        32    32          NaN                                                           NaN
mean       NaN   NaN  2006.600856                                                      8.013034
std        NaN   NaN     8.712915                                                     12.055301
min        NaN   NaN  1990.000000                                                      0.000000
25%        NaN   NaN  2000.000000                                                      1.331695
50%        NaN   NaN  2007.000000                                                      3.285863
75%        NaN   NaN  2014.000000                                                      9.409311
max        NaN   NaN  2021.000000                                                    138.773990

Valores nulos por columna:
Entity                                                            0
Code                                                            176
Year                                                              0
Homicide rate per 100,000 population - Both sexes - All ages      0

Número de filas duplicadas:
0